@model ProductLicenceCreateEditModel

@{
    ViewData["Title"] = "Create Product Licence";
}

<a href="/account/view/@Model.AccountId" class="govuk-back-link">Back to Account</a>

<h1 class="govuk-heading-l">Create Product Licence</h1>

<form asp-action="Create" method="post" class="govuk-form-group">
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="ProductLicence.LicenceStatus">Licence Status</label>
        <select class="govuk-select @((ViewData.ModelState["LicenceStatus"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="ProductLicence.LicenceStatus">
            <option value="">Select a status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>

        @{
            ViewData.ModelState.TryGetValue("LicenceStatus", out ModelStateEntry? licenceStatusEntry);
        }
        <partial name="_ValidationErrors" model="licenceStatusEntry" />
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="ProductLicence.LicenceFromDate">From Date</label>
        <input type="date" class="govuk-input @((ViewData.ModelState["LicenceFromDate"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="ProductLicence.LicenceFromDate" />

        @{
            ViewData.ModelState.TryGetValue("LicenceFromDate", out ModelStateEntry? licenceFromDateEntry);
        }
        <partial name="_ValidationErrors" model="licenceFromDateEntry" />
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="ProductLicence.LicenceToDate">To Date</label>
        <input type="date" class="govuk-input @((ViewData.ModelState["LicenceToDate"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="ProductLicence.LicenceToDate" />

        @{
            ViewData.ModelState.TryGetValue("LicenceToDate", out ModelStateEntry? licenceToDateEntry);
        }
        <partial name="_ValidationErrors" model="licenceToDateEntry" />
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="ProductLicence.Product.ProductId">Product</label>
        <select class="govuk-select @((ViewData.ModelState["Product.ProductName"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="ProductLicence.Product.ProductId">
            <option value="">Select a product</option>
            @foreach (var product in Model.Products)
            {
                <option value="@product.ProductId">@product.ProductName</option>
            }
        </select>

        @{
            ViewData.ModelState.TryGetValue("Product.ProductName", out ModelStateEntry? productEntry);
        }
        <partial name="_ValidationErrors" model="productEntry" />
    </div>

    <button type="submit" class="govuk-button govuk-button--primary" style="margin-top: 20px;">
        Create
    </button>
</form>
